/* body {
  background-color: #69d338;
} */

#total-questions {
  background-color: #000000;
}

#questions-Strategy {
  background-color: #eba000;
}

#questions-Skills {
  background-color: #7cd1c0;
}
